body {

  background-image: url("walliesb.png");
  height: 100%;
  background-position: center;
  background-repeat: repeat-y;
  background-size: cover;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
